.electronics {
  padding: 51px 21px 306px;
  background: url("/img/electronics-mobile@1x.jpg") no-repeat center bottom;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("/img/electronics-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.electronics__title {
  margin-bottom: 30px;
  font-family: RubikMonoOne;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 2px;
}

.electronics__text {
  margin: 0 0 12px;
  line-height: 24px;
}

.electronics__text--font-weight {
  font-weight: 700;
}

.electronics__list {
  position: relative;
  display: flex;
  align-items: baseline;
  margin: 0;
  padding: 19px 0 0 35px;
  list-style: none;

  &::before {
    position: absolute;
    content: "";
    bottom: -200px;
    left: 108px;
    width: 60px;
    height: 60px;
    background: url("/img/play2-mobile@1x.png") no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("/img/play2-mobile@2x.png");
      background-size: 60px auto;
    }
  }
}

.electronics__item {
  margin-right: 56px;

  &:last-child .electronics__img {
    width: 69px;
  }
}

.electronics__text2 {
  color: #666666;
  font-size: 14px;
  line-height: 18px;
}  

@media (min-width: $tablet-width) {
  .electronics {
    display: flex;
    margin: 73px 0 0;
    padding: 310px 95px 64px;
    background: url("/img/electronics-tablet@1x.jpg") no-repeat center top;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("/img/electronics-tablet@2x.jpg");
      background-size: 578px auto;
    }
  }

  .electronics__wrapper {
    display: flex;
  }

  .electronics__title {
    text-align: start;
  }

  .electronics__text {
    width: 278px;
  }

  .electronics__list {
    flex-direction: column;
    padding: 48px 0 0 115px;

    &::before {
      top: -221px;
      left: -42px;
      width: 100px;
      height: 100px;
      background: url("/img/play-tablet@1x.png") no-repeat;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("/img/play-tablet@2x.png");
        background-size: 100px auto;
      }
    }
  }

  .electronics__item {
    margin-bottom: 22px;
  }
}

@media (min-width: $desktop-width) {
  .electronics {
    position: relative;
    padding: 0;
    background: none;

    &::before {
      position: absolute;
      content: "";
      top: -330px;
      right: 115px;
      width: 400px;
      height: 280px;
      background: url("/img/electronics-desktop@1x.jpg") no-repeat;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("/img/electronics-desktop@2x.jpg");
        background-size: 400px auto;
      }
    }
  }

  .electronics__wrapper {
    position: absolute;
    top: -820px;
    right: 75px;
    flex-direction: column;
  }

  .electronics__title {
    margin-bottom: 23px;
    font-size: 40px;
    letter-spacing: 3px;
  }

  .electronics__text {
    width: 439px;
    margin-bottom: 15px;
    line-height: 28px;
    font-size: 18px;
  }

  .electronics__list {
    flex-direction: initial;
    padding: 28px 0 0 0px;

    &::before {
      top: 300px;
      left: 147px;
    }
  }

  .electronics__item {
    margin-right: 110px;

    &:last-child .electronics__img {
      width: 98px;
    }
  }
  
  .electronics__text2 {
    font-size: 16px;
    line-height: 24px
  }
}