.indicators {
  padding: 17px 10px 280px;
  background: url("/img/indicators-mobile@1x.jpg") no-repeat center bottom;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("/img/indicators-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.indicators__title {
  font-family: RubikMonoOne;
  font-size: 24px;
  font-weight: 400;  
  text-align: center;
  line-height: 32px;
  letter-spacing: 2px;
}

.indicators__text {
  margin: 12px 0;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .indicators {
    position: relative;
    padding: 0 41px 350px 111px;
    background: url("/img/indicators-tablet@1x.jpg") no-repeat center bottom;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("/img/indicators-tablet@2x.jpg");
      background-size: 538px auto;
    }

    &::before {
			position: absolute;
			content: "";
			bottom: 117px;
      left: 67px;
			width: 83px;
      height: 68px;
      background: url("/img/play-indicators-tablet@1x.png") no-repeat;
      
      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("/img/play-indicators-tablet@2x.png");
        background-size: 83px auto;
      }
		}
  }

  .indicators__title {
    margin-bottom: 44px;
    text-align: start;
    line-height: 0;
  }

  .indicators__text {
    padding-left: 3px;
  }
}

@media (min-width: $desktop-width) {
  .indicators {
    padding: 200px 0 430px 211px;
    background: url("/img/indicators-desktop@1x.jpg") no-repeat center bottom;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("/img/indicators-desktop@2x.jpg");
      background-size: 830px auto;
    }

    &::before {
			bottom: 251px;
      left: 132px;
			width: 101px;
      height: 459px;
      background: url("/img/play-indicators-desktop@1x.png") no-repeat;
      
      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("/img/play-indicators-desktop@2x.png");
        background-size: 101px auto;
      }
    }
    
    &::after {
			position: absolute;
			content: "";
      bottom: -427px;
      left: -359px;
			width: 511px;
      height: 878px;
      background: url("/img/bg-header-desktop2@1x.png") no-repeat;
      
      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("/img/bg-header-desktop2@2x.png");
        background-size: 511px auto;
      }
		}
  }

  .indicators__title {
    font-size: 40px;
    letter-spacing: 3px;
  }

  .indicators__text {
    width: 449px;
    font-size: 18px;
    line-height: 30px;
  }
}
