.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 13px;
}

.main-nav__btn {
  background: transparent;
  border: none;
}

.main-nav__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__link {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (min-width: $tablet-width) {
  .main-nav {
    padding: 28px 22px;
  }

  .main-nav__btn {
    display: none;
  }

  .main-nav__list {
    display: flex;
  }

  .main-nav__item {
    position: relative;
    margin-left: 69px;
    
    &:first-child::before {
      position: absolute;
        content: "";
        top: 19px;
        left: -8px;
        width: 20px;
        height: 1px;
        background-color: #3a30f8;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    padding: 28px 15px;
  }

  .main-nav__item {
    margin-left: 73px;
  }

	.main-nav__link {
    font-size: 14px;
  }
}
