.page-main {
  position: relative;
	width: 320px;
  margin: 0 auto;
  padding: 23px 0 0;
}

@media (min-width: $tablet-width) {
  .page-main {
    width: 768px;
    padding: 150px 0 0;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    width: 1200px;
    padding: 184px 0 73px;
  }
}